body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(0 0% 20%);
  }

.namn {
    font-size: clamp(3rem, 25vmin, 12rem);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
}

.boujee-text {
    --bg-size: 400%;
    --color-one: hsl(159, 78%, 34%);
    --color-two: hsl(208, 52%, 47%);
    font-size: clamp(3rem, 25vmin, 8rem);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: move-bg 8s infinite linear;
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .boujee-text {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }